

body {
    background-color: lightblue;
}

h1 {
    color: black;
    font-size: xx-large;
    font-weight: bold;
    line-height: 100px;
}

h2 {
    color: red;
    font-size: larger;
    margin-left: 20px;
    line-height: 75px;
}

p {
    margin-left: 20px;
    line-height; normal;
}